parameters:
    # You can currently choose from 10 levels (0 is the loosest and "max" is the strictest).
    level: 6

    paths:
        - Classes/
        - Configuration/
        - Resources/
        - ext_localconf.php
        - ext_tables.php

    excludePaths:
        - vendor/*
        - public/*
        - Tests/*
        - Classes/Hooks/Sync.php
        - ext_emconf.php
        - rector.php

    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false
    treatPhpDocTypesAsCertain: false

    # Ignore error, mainly due invalid PHP in TYPO3
    ignoreErrors:
