includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon

parameters:
    # You can currently choose from 10 levels (0 is the loosest and 9 is the strictest).
    level: 6

    paths:
        # Seems no other way to ignore \Netresearch\NrTextdb\Hooks\Sync from analyse
        - Classes/Command/
        - Classes/Controller/
        - Classes/Domain/
        - Classes/Service/
        - Classes/ViewHelpers/
        - Configuration/
        - Resources/
        - ext_localconf.php

    excludePaths:
        - vendor/*
        - public/*
        - Tests/*
        - ext_emconf.php
        - ext_tables.php
        - rector.php

    checkGenericClassInNonGenericObjectType: false

    # Ignore error, mainly due invalid PHP in TYPO3
    ignoreErrors:
