<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
	  data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="content">
<h1>Listing for Translation</h1>
	<be:link.newRecord table="tx_nrtextdb_domain_model_translation" pid="64" returnUrl="">Neue Übersetzung</be:link.newRecord>
<table  id="tx_nrtextdb" class="table table-hover" >
	<tr>
		<th>Environment</th>
		<th>Component</th>
		<th>Type</th>
		<th>Value</th>
	</tr>
	<f:for each="{translations}" as="translation">
		<tr>
			<td>{translation.environment.name}</td>
			<td>{translation.component.name}</td>
			<td>{translation.type.name}</td>
			<td>{translation.value}</td>
			<td><be:link.editRecord uid="{translation.uid}" table="tx_nrtextdb_domain_model_translation" returnUrl="">Bearbeiten </be:link.editRecord></td>

		</tr>
	</f:for>
</table>

	</f:section>
</html>