<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
	  data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="content">
<be:link.newRecord table="tx_nrtextdb_domain_model_translation" pid="{textDbPid}" returnUrl="" class="btn btn-default">Neue Übersetzung</be:link.newRecord>
<h1>Listing for Translation</h1>

<table  id="tx_nrtextdb" class="table table-hover" >
	<tr>
		<th>Environment</th>
		<th>Component</th>
		<th>Type</th>
		<th>Value</th>
		<th>Funktionen</th>
	</tr>
	<f:for each="{translations}" as="translation">
		<tr>
			<td>{translation.environment.name}</td>
			<td>{translation.component.name}</td>
			<td>{translation.type.name}</td>
			<td>{translation.value}</td>
			<td>
				<be:link.editRecord uid="{translation.uid}" table="tx_nrtextdb_domain_model_translation" returnUrl="" class="btn btn-default">
					Bearbeiten
				</be:link.editRecord>
				<f:link.action action="delete" arguments="{translation: translation}" class="btn btn-default">
					Löschen
				</f:link.action>
			</td>

		</tr>
	</f:for>
</table>

	</f:section>
</html>