<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
	  xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
	  data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="content">
	<f:be.widget.paginate objects="{translations}" as="paginatedtranslations" configuration="{itemsPerPage: 15, insertBelow: 1}">
		<table  id="tx_nrtextdb" class="table table-hover" >
			<tr>
				<td></td>
				<th>Component</th>
				<th>Type</th>
				<th>Placeholder</th>
				<th>Value</th>
			</tr>
			<f:for each="{paginatedtranslations}" as="translation">
				<tr>
					<td>
						<f:link.action action="translated"
									   additionalAttributes="{data-uid:'{translation.uid}'}"
									   arguments="{uid: '{translation.uid}'}"
									   class="translated-link-open">
							<core:icon identifier="flags-multiple" /> <core:icon identifier="actions-view-list-expand" />
						</f:link.action>
						<a href="#" data-uid="{translation.uid}" class="translated-link-close" style="display: none">
							<core:icon identifier="flags-multiple" /> <core:icon identifier="actions-view-list-collapse" />
						</a>
					</td>
					<td>{translation.component.name}</td>
					<td>{translation.type.name}</td>
					<td>{translation.placeholder}</td>
					<td>{translation.value}</td>
				</tr>
			</f:for>
		</table>
	</f:be.widget.paginate>
</f:section>
</html>
