<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="content">
    <div class="return">
        <f:if condition="{translated}">
            <f:else>
                <f:be.infobox state="-1">Keine übersetzung Vorhanden</f:be.infobox>
            </f:else>
        </f:if>
        <f:form action="translateRecord" method="post" arguments="{parent: '{originalUid}'}" class="translation-form" additionalAttributes="{data-uid:'{originalUid}'}">
            <table class="table ">
            <f:for each="{translated}" as="translation">
                <tr class="untranslated">
                    <td>
                        <f:for each="{languages}" as="language">
                            <f:if condition="{language.languageId} == {translation.languageUid}">
                                <core:icon identifier="{language.flagIdentifier}" /> {language.title}
                            </f:if>
                        </f:for>
                    </td>
                    <td>
                        <f:form.textarea name="update[{translation.uid}]" value="{translation.value}" class="form-control" placeholder="Übersetzung" />
                    </td>
                </tr>
            </f:for>
            <f:for each="{untranslated}" as="language">
                <tr class="untranslated">
                    <td>
                        <core:icon identifier="{language.flagIdentifier}" /> {language.title}
                    </td>
                    <td>
                       <f:form.textarea name="new[{language.languageId}]" value="" class="form-control" placeholder="Übersetzung" />
                    </td>
                </tr>
            </f:for>
            </table>
            <br>
            <f:form.submit class="btn btn-primary" value="Speichern" />
        </f:form>
    </div>
</f:section>
</html>
