<html data-namespace-typo3-fluid="true"
      xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
>
    <f:layout name="Default"/>

    <f:section name="content">
        <div class="return">
            <f:if condition="{translated}">
                <f:else>
                    <f:be.infobox state="-1">
                        <f:translate key="no-translation">No translations available</f:translate>
                    </f:be.infobox>
                </f:else>
            </f:if>

            <f:form action="translateRecord"
                    method="post"
                    arguments="{parent: originalUid}"
                    class="translation-form"
                    additionalAttributes="{data-uid: originalUid}"
            >
                <table class="table">
                    <f:for each="{translated}" as="translation">
                        <tr class="translated">
                            <td>
                                <f:for each="{languages}" as="language">
                                    <f:if condition="{language.languageId} == {translation.sysLanguageUid}">
                                        <core:icon identifier="{language.flagIdentifier}"/>
                                        {language.title}
                                    </f:if>
                                </f:for>
                            </td>
                            <td>
                                <f:form.textarea name="update[{translation.localizedUid}]"
                                                 value="{translation.value}"
                                                 class="form-control"
                                                 placeholder="{f:translate(key: 'translation', default: 'Translation')}"/>
                            </td>
                        </tr>
                    </f:for>
                    <f:for each="{untranslated}" as="language">
                        <tr class="untranslated">
                            <td>
                                <core:icon identifier="{language.flagIdentifier}"/>
                                {language.title}
                            </td>
                            <td>
                                <f:form.textarea name="new[{language.languageId}]"
                                                 value=""
                                                 class="form-control"
                                                 placeholder="{f:translate(key: 'translation', default: 'Translation')}"/>
                            </td>
                        </tr>
                    </f:for>
                </table>
                <br>
                <f:form.submit class="btn btn-primary" value="{f:translate(key: 'save', default: 'Save')}"/>
            </f:form>
        </div>
    </f:section>
</html>
